@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --base-color: #424B54;
  --text-color: #ffffff;
  --accent-color: #E2B4BD;
  --secondary-color: #93A8AC;

  /* Light Variants */
  --base-light: hsl(from var(--base-color) h s calc(l + 20));
  --secondary-light: hsl(from var(--secondary-color) h s calc(l + 15));
  --accent-light: hsl(from var(--accent-color) h s calc(l + 10));
  
  /* Dark Variants */
  --base-dark: hsl(from var(--base-color) h s calc(l - 15));
  --secondary-dark: hsl(from var(--secondary-color) h s calc(l - 20));
  --accent-dark: hsl(from var(--accent-color) h s calc(l - 25));

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;

  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-base: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 3rem;
  --spacing-3xl: 4rem;
  --spacing-4xl: 5rem;
  --spacing-5xl: 6rem;
  --spacing-6xl: 8rem;
  --spacing-7xl: 10rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background: linear-gradient(to bottom right, #424B54, #93A8AC, #E2B4BD);
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

section {
  display: flex;
  justify-content: center;
}